<!-- base file for the code of all(most) files -->
<!DOCTYPE html>
<html lang="EN">

<head>
  <title>Journal</title>
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">Journal App</li>
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      {%if current_user.is_authenticated%}
      <li class="nav-item"><a class="nav-link" href="/view">View</a></li>
      <li class="nav-item"><a class="nav-link" href="/create">Create</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
      <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
      {%endif%}
      {%if not current_user.is_authenticated%}
      <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
      {%endif%}
      {%if current_user.is_admin%}
      <li class="nav-item"><a class="nav-link" href="/admin">Admin Control Panel</a></li>
      {%endif%}
    </ul>
  </nav>                                                                                
  {%block content%}
  {%endblock%}
</body>
</html>