{%extends "base.html"%}
{%block content%}
  <div class="container">
    <div class="col-12"><h1>Create New</h1></div>
    <form action="{{url_for('make')}}" method="POST">
      <div class="row">
        <div class="col-2">
          <label>Emotion</label>
        </div>
        <div class="col-10">
          <select name="emotion"class="form-control"><option value="-">Select...</option><option value="Happy">Happy</option><option value="Sad">Sad</option><option value="Angry">Angry</option><option value="Depressed">Depressed</option><option value="Tired">Tired</option></select>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Weather</label>
        </div>
        <div class="col-10">
          <input type="text" name='weather' value="{{weather}}({{temperature}} ˚C)"class="form-control">
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Content</label>
        </div>
        <div class="col-10">
          <div id="editor" name="content" class="form-control" rows="10"></div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Date</label>
        </div>
        <div class="col-10">
          <input type='text' name='date' placeholder="YYYY-MM-DD format please" value="{{day}}" class="form-control">
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Private</label>
        </div>
        <div class="col-10">
          <input type="checkbox" name="private" class="form-control">
        </div>
      </div><br>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-secondary"onfocusin="validate_length()">Submit changes</button>
        </div>
      </div>
    </form>
  </div>
  <script>
    var date= new Date();
    var day=date.getDate()
    var year=date.getFullYear()
    var month=date.getMonth()+1
    console.log(year+'-'+month+'-'+day);
    function validate_length(){
      var content=document.getElementById("content").value;
      if (content.trim().length < 10) {
        alert('Content too short');
        }}
    var quill = new Quill('#editor', {
      theme: 'snow'
    });
  </script>
  {%endblock%}