{%extends "base.html"%}
{%block content%}
  <div class="container">
    <div class="col-12"><h1>Create New</h1></div>
    <form action="{{url_for('make')}}" method="POST">
      <div class="row">
        <div class="col-2">
          <label>Author</label>
        </div>
        <div class="col-10">
          <input type="text" name='author' placeholder="enter author here"class="form-control">
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Emotion</label>
        </div>
        <div class="col-10">
          <select name="emotion"class="form-control"><option value="Happy">Happy</option><option value="Sad">Sad</option></select>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Weather</label>
        </div>
        <div class="col-10">
          <input type="text" name='weather' value="{{weather}}({{temperature}} ˚C)"class="form-control">
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Content</label>
        </div>
        <div class="col-10">
          <textarea name='content' id='content' rows="10" placeholder="Write content here." onfocusout="val_length()"class="form-control"></textarea>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Date</label>
        </div>
        <div class="col-10">
          <input type='text' name='date' placeholder="YYYY-MM-DD format please" value="{{day}}" class="form-control">
        </div>
      </div><br>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit changes</button>
        </div>
      </div>
    </form>
  </div>
  <script>
    var date= new Date();
    var day=date.getDate()
    var year=date.getFullYear()
    var month=date.getMonth()+1
    console.log(year+'-'+month+'-'+day);
    function val_length(){
      var content=document.getElementById("content").value;
      if (content.trim().length < 10) {
        alert('Content too short');
        }}
    
  </script>
  {%endblock%}