<!DOCTYPE html>
<html lang="EN">

<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand bg-light">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="view">View</a></li>
      <li class="nav-item"><a class="nav-link" href="create">Create</a></li>
    </ul>
  </nav>
  <h1>Create</h1>
  <div class="container">
    <nav class="navbar navbar-expand bg-light">
    </nav>
    <form action="{{url_for('make')}}" method="POST">
      <div class="row">
        <div class="col-2">
          <label>Author</label>
        </div>
        <div class="col-10">
          <input type="text" name='author' >
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Emotion</label>
        </div>
        <div class="col-10">
          <input type="text" name='emotion' >
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Weather</label>
        </div>
        <div class="col-10">
          <input type="text" name='weather' >
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Content</label>
        </div>
        <div class="col-10">
          <textarea name='content' id='content' rows="10" onfocusout="val_length()"></textarea>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Date</label>
        </div>
        <div class="col-10">
          <input type='text' name='date' >
        </div>
      </div><br>
      <div class="row">
        <div class="col-12">
          <button type="submit">Submit changes</button>
        </div>
      </div>

    </form>
  </div>
  <script>
    function val_length(){
      var content=document.getElementById("content").value;
      if (content.trim().length < 10) {
          alert('Content too short');
        }
      }
  </script>
</body>

</html>