{%extends "base.html"%}
{%block content%}
  <h1>Viewing Entry</h1>
  <td><a class="btn btn-sm" role="button" href="/edit/{{jnl.id}}">Edit Entry</a></td>
  <div class="container">
    <nav class="navbar navbar-expand bg-light">
    </nav>
      <div class="row">
        <div class="col-2">
          <label>Author</label>
        </div>
        <div class="col-10">
          <label>{{jnl.author}}</label>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Emotion</label>
        </div>
        <div class="col-10">
          <label>{{jnl.emotion}}</label>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Weather</label>
        </div>
        <div class="col-10">
          <label>{{jnl.weather}}</label>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Content</label>
        </div>
        <div class="col-10">
          <label>{{jnl.content}}</label>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Date</label>
        </div>
        <div class="col-10">
          <label>{{jnl.date}}</label>
        </div>
      </div><br>
  </div>
{%endblock%}