{%extends "base.html"%}
{%block content%}
  <h1>Viewing Entry</h1>
  {%if current_user.name==jnl.author%}<td><a class="btn btn-primary" role="button" href="/edit/{{jnl.id}}">Edit Entry</a></td>{%endif%}
  <div class="container">
      <div class="row">
        <div class="col-2">
          <label>Author</label>
        </div>
        <div class="col-10">
          <label>{{jnl.author}}</label>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Emotion</label>
        </div>
        <div class="col-10">
          <label>{{jnl.emotion}}</label>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Weather</label>
        </div>
        <div class="col-10">
          <label>{{jnl.weather}}</label>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Content</label>
        </div>
        <div class="col-10">
          <label>{{jnl.content}}</label>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Date</label>
        </div>
        <div class="col-10">
          <label>{{jnl.date}}</label>
        </div>
      </div><br>
    <h1>Comments</h1>
    <form action="{{url_for('addcomment')}}" method="POST">
      <input type="hidden" id="journalid" name="journalid" value="{{jnl.id}}">
      <div class="row">
        <div class="col-12">
          <textarea rows="10" class="formcontrol" placeholder="Add a comment" id="content" name="content"></textarea>
          </div>
      </div><br>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-secondary">Add Comment</button>
        </div>
      </div>
    </form>
  </div>
{%endblock%}