{%extends "base.html"%}
{%block content%}
  <div class="container">
    <div class="col-10">
    <h1>Edit</h1>
    </div>
    <form action="{{url_for('update')}}" method="POST">
      <input type="hidden" id="id" name="id" value="{{jnl.id}}" />
      <div class="row">
        <div class="col-2">
          <label>Author</label>
        </div>
        <div class="col-10">
          <input type="text" name='author' class="form-control" disabled value="{{jnl.author}}">
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Emotion</label>
        </div>
        <div class="col-10">
          <select name="emotion"class="form-control"><option value="-">Select...</option><option value="Happy">Happy</option><option value="Sad">Sad</option><option value="Angry">Angry</option><option value="Depressed">Depressed</option><option value="Tired">Tired</option></select>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Weather</label>
        </div>
        <div class="col-10">
          <input type="text" name='weather' class="form-control" disabled value="{{jnl.weather}}">
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Content</label>
        </div>
        <div class="col-10">
          <textarea id="editor" name="content" class="form-control" rows="10"><p>{{jnl.content}}</p></textarea>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Date</label>
        </div>
        <div class="col-10">
          <input type='text' name='date' class="form-control" disabled value="{{jnl.date}}">
        </div>
      </div><br>
      
      <div class="row">
        <div class="col-2">
          <label>Private</label>
        </div>
        <div class="col-10">
          <input type="checkbox" name="private" class="form-control" {%if jnl.private%} checked {%endif%}>
        </div>
      </div><br>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-secondary" >Submit changes</button>
        </div>
      </div>
    </div><br>

    </form>
  </div>
  <script>
    function val_length(){
      var content=document.getElementById("content").value;
      if (content.trim().length < 10) {
        alert('Content too short');
        }}
    var quill = new Quill('#editor', {
      theme: 'snow'
    });
  </script>
{%endblock%}