{%extends "base.html"%}
{%block content%}
  <h1>Edit</h1>
  <div class="container">
    <nav class="navbar navbar-expand bg-light">
    </nav>
    <form action="{{url_for('update')}}" method="POST">
      <input type="hidden" id="id" name="id" value="{{jnl.id}}" />
      <div class="row">
        <div class="col-2">
          <label>Author</label>
        </div>
        <div class="col-10">
          <input type="text" name='author' disabled value="{{jnl.author}}">
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Emotion</label>
        </div>
        <div class="col-10">
          <input type="text" name='emotion' value="{{jnl.emotion}}">
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Weather</label>
        </div>
        <div class="col-10">
          <input type="text" name='weather' disabled value="{{jnl.weather}}">
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Content</label>
        </div>
        <div class="col-10">
          <textarea name='content' rows="10">{{jnl.content}}</textarea>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Date</label>
        </div>
        <div class="col-10">
          <input type='text' name='date' disabled value="{{jnl.date}}">
        </div>
      </div><br>
      <div class="row">
        <div class="col-12">
          <button type="submit">Submit changes</button>
        </div>
      </div>

    </form>
  </div>
  <script>
    function val_length(){
      var content=document.getElementById("content").value;
      if (content.trim().length < 10) {
        alert('Content too short');
        }}
  </script>
{%endblock%}