{%extends "base.html"%}
{%block content%}
  <h1>Logged in as {{name}}</h1>
  <form action="{{url_for('update')}}" method="POST">
    <input type="hidden" id="id" name="id" value="{{jnl.id}}" />
    <div class="row">
      <div class="col-2">
        <label>Author</label>
      </div>
      <div class="col-10">
        <input type="text" name='author' class="form-control" disabled value="{{jnl.author}}">
      </div>
    </div><br>
    <div class="row">
      <div class="col-2">
        <label>Emotion</label>
      </div>
      <div class="col-10">
        <select name="emotion"class="form-control"><option value="-">Select...</option><option value="Happy">Happy</option><option value="Sad">Sad</option><option value="Angry">Angry</option><option value="Depressed">Depressed</option><option value="Tired">Tired</option></select>
      </div>
    </div><br>
    <div class="row">
      <div class="col-2">
        <label>Weather</label>
      </div>
      <div class="col-10">
        <input type="text" name='weather' class="form-control" disabled value="{{jnl.weather}}">
      </div>
    </div><br>
    <div class="row">
      <div class="col-2">
        <label>Content</label>
      </div>
      <div class="col-10">
        <textarea name='content' rows="10" class="form-control">{{jnl.content}}</textarea>
      </div>
    </div><br>
    <div class="row">
      <div class="col-2">
        <label>Date</label>
      </div>
      <div class="col-10">
        <input type='text' name='date' class="form-control" disabled value="{{jnl.date}}">
      </div>
    </div><br>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-secondary" >Submit changes</button>
      </div>
    </div>
  </form>
{%endblock%}