<!DOCTYPE html>
<html lang="EN">
<head>
  <title>Journal-Create entry</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand bg-light">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/view">View</a></li>
      <li class="nav-item"><a class="nav-link" href="/create">Create</a></li>
    </ul>
  </nav>
  <h1>Sign Up</h1>
  <div class="container">
    <nav class="navbar navbar-expand bg-light">
    </nav>
    <form action="/signup" method="POST">
      <div class="row">
        <div class="col-2">
          <label>Email</label>
        </div>
        <div class="col-10">
          <input type="text" name='email' >
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Name</label>
        </div>
        <div class="col-10">
          <input type="text" name='name'>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Password</label>
        </div>
        <div class="col-10">
          <input type='password' name='password'>
        </div>
      </div><br>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn-primary">Create Account</button>
        </div>
      </div>
    </form>
  </div>
  <script>
    var date= new Date();
    var day=date.getDate()
    var year=date.getFullYear()
    var month=date.getMonth()+1
    console.log(year+'-'+month+'-'+day);
    function val_length(){
      var content=document.getElementById("content").value;
      if (content.trim().length < 10) {
        alert('Content too short');
        }}
    
  </script>
</body>
</html>