{%extends "base.html"%}
{%block content%}
  <h1>Sign Up</h1>
  <div class="container">
    <nav class="navbar navbar-expand bg-light">
    </nav>
    <form action="/signup" method="POST">
      <div class="row">
        <div class="col-2">
          <label>Email</label>
        </div>
        <div class="col-10">
          <input type="text" name='email' >
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Name</label>
        </div>
        <div class="col-10">
          <input type="text" name='name'>
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Password</label>
        </div>
        <div class="col-10">
          <input type='password' name='password'>
        </div>
      </div><br>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn-primary">Create Account</button>
        </div>
      </div>
    </form>
  </div>
{%endblock%}