{%extends "base.html"%}
{%block content%}
  <h1>Sign Up</h1>
  <div class="container">
    {%with messages=get_flashed_messages()%}
    {%if messages%}
    <div class="alert alert-danger">{{messages[0]}}<a href="login">Login Page</a></div>
    {%endif%}
    {%endwith%}
    <form action="/signup" method="POST">
      <div class="row">
        <div class="col-2">
          <label>Email</label>
        </div>
        <div class="col-10">
          <input type="text" name='email' class="formcontrol">
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Name</label>
        </div>
        <div class="col-10">
          <input type="text" name='name'class="formcontrol">
        </div>
      </div><br>
      <div class="row">
        <div class="col-2">
          <label>Password</label>
        </div>
        <div class="col-10">
          <input type='password' name='password'class="formcontrol">
        </div>
      </div><br>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn-primary">Create Account</button>
        </div>
      </div>
    </form>
  </div>
{%endblock%}