{%extends "base.html"%}
{%block content%}
  <h1>View Journals</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Author</th>
        <th>Emotion</th>
        <th>Weather</th>
        <th>Content</th>
        <th>Creation Date</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      {%for i in jnllist%}
      <tr>
        <td>{{i.author}}</td>
        <td>{{i.emotion}}</td>
        <td>{{i.weather}}</td>
        <td>{{i.content}}</td>
        <td>{{i.date}}</td>
        <td><a class="btn btn-sm" role="button" href="/details/{{i.id}}">Details</a></td>
        <td><a class="btn btn-sm" role="button" href="/edit/{{i.id}}">Edit</a></td>
        <td><a class="btn btn-sm" role="button" href="/delete/{{i.id}}">Delete</a></td>
      </tr>
      {%endfor%}
    </tbody>
</table>
{%endblock%}